body {
    background-color: #333;
}

.header {
    color: white;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 5px;
}

#data-bl {
    text-align: center;
}

.start {
    padding-top: 50px;
    text-align: center;
}

.close {
    height: 0;
    overflow: hidden;
}

#data-bl textarea {
    width: 270px;
    line-height: normal;
    height: 90px;
}

#data-bl p {
    color: white;
}

#data-bl #file {
    text-align: center;
}

input[type=file] {
    margin: 0 auto;
}

#result-bl {
    text-align: center;
    color: white;
    margin: 0 auto;
}

#season-table {
    text-align: center;
}

.center {
    margin-left:auto;
    margin-right:auto;
}

#season-table {
    width: 30%;
    text-align: center;
}

table, th, td {
    text-align: center;
    border: 1px solid red;
}

#forecast-table {
    width: 20%;
    text-align: center;
}

#graphic {
    width: 600px;
    height: 500px;
}

#range-table {
    width: 60%;
}

#linear-trend {
    color: white;
    font-size: 10px;
}
